@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --max-container-size: 1280px
}

html {
    color: #2F3438;
    font-size: 16px;
}

.swiper-button-prev:after, .swiper-button-next:after {
    width: 100% !important;
}

#side-banner > .swiper-wrapper {
    position: absolute;
    top: 0;
}
.ql-editor {
    min-height: 300px;
}